{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center col">
                <img src="{% static 'img/204_no_content.png' %}" alt="no content" style="max-width: 35%; height:auto;">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p class="h3">No Data Found!</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        No Data Can't Display In This Page :)
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock content %}